@media (max-width: 350px){
    .subscribe-btn{
        height: calc(1.5em + .75rem + 2px);
        font-size: 16px;
    }
    #header{
    
        background-position: 75% 95%;
        height: 240vh;
        
    }

}

@media (min-width: 768px){
    .clock-1, .clock-2, .clock-3, .clock-4{
        border: 1px solid var(--fc-primary);
        padding: 1rem;
        width: 6.25rem!important;
        width: 6.25rem;
    }
    .clock-1 p, .clock-2 p, .clock-3 p, .clock-4 p{
        font-size: var(--fs-p);
    }
    #header{
        background: url(../images/bg-header.png);
        background-repeat: no-repeat;
        height: auto;
        background-size: 32%;
        color: var(--fc-primary);
    background-color: var(--clr-bg-1);
        background-position: 100% 80%;
        
    }
    .mobile{
        display: none;
    }
}
@media (min-width: 992px){
    body{
        background: url(../images/side-bg-1.png);
        background-repeat: no-repeat;
        background-position: 100% 90%;
        z-index: 5;
    }
    #features{
        background: url(../images/side-bg-1.png), url(../images/side-bg-2.png);
        background-repeat: no-repeat;
        background-position: 100% 20%, 0% 60%;
    
    }
    /* HEADER  */
    .day h2, .hours h2, .minutes h2, .seconds h2{
        font-size: var(--fs-h1);
    }

}
@media (min-width: 1200px){
  
}
@media (min-width: 1440px){
   
}