@media (min-width: 768px){
    .clock-1, .clock-2, .clock-3, .clock-4{
        border: 1px solid var(--fc-primary);
        padding: 1rem;
        width: 6.25rem!important;
        width: 6.25rem;
    }
    .clock-1 p, .clock-2 p, .clock-3 p, .clock-4 p{
        font-size: var(--fs-p);
    }
    #header{
    
        height: auto;
        background-repeat: no-repeat;
        background-size: 32%;
        background-position: 100% 65%;
        
    }
}
@media (min-width: 992px){
    /* HEADER  */
    .day h2, .hours h2, .minutes h2, .seconds h2{
        font-size: var(--fs-h1);
    }

}
@media (min-width: 1200px){
  
}
@media (min-width: 1440px){
   
}